## Deep Learning Project -- Data Cleaning

In [2]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("wind_dataset.csv")

In [19]:
data.columns

Index(['DATE', 'WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1'],
      dtype='object')

In [20]:
# splitting dataframe on column for all columns
def data_process(data):
    # wnd columns -- 5 min direction, direction quality, type, speed, speed quality
    data[["wnd_direct", "wnd_qual", "wnd_type", "wnd_speed", "wnd_qual"]] = data.WND.str.split(",", expand=True)
    data.drop(["wnd_direct", "wnd_qual", "wnd_type"], axis=1, inplace=True)

    # tmp columns -- 5 min temperature of air, temperature quality
    data[["temp_change", "temp_qual"]] = data.TMP.str.split(",", expand=True)
    data.drop(["temp_qual"],axis=1,inplace=True)

    # AA1 columns -- HOURLY liquid perciptation occurence identifier -- period quantity, depth dimension,condition code, quality code
    data[["hourly_liq_per_quant", "hourly_liq_depth_dim" ,"hourly_liq_cond", "hourly_liq_qual"]] = data.AA1.str.split(",", expand=True)
    data.drop(["hourly_liq_cond", "hourly_liq_qual"], axis=1,inplace=True)

    # AO1 columns -- 5 min perciptation occurnence identifier -- period quantity, depth dimension,condition code, quality code
    data[["liq_per_quant", "liq_depth_dim" ,"liq_cond", "liq_qual"]] = data.AO1.str.split(",", expand=True)
    data.drop(["liq_cond", "liq_qual"],axis=1, inplace=True)

    # CF1 columns -- HOURLY fan speed section 1
    data[["fan_speed", "fan_quality", "fan_quality_code"]] =  data.CF1.str.split(",", expand=True)
    data.drop(["fan_quality", "fan_quality_code"],axis=1, inplace=True)

    # CF2 columns -- HOURLY fan speed section 2
    data[["fan_speed2", "fan_quality2", "fan_quality_code2"]] =  data.CF2.str.split(",", expand=True)
    data.drop(["fan_quality2", "fan_quality_code2"], axis=1, inplace=True)

    # CF3 columns -- HOURLY fan speed section 3
    data[["fan_speed3", "fan_quality3", "fan_quality_code3"]] =  data.CF3.str.split(",", expand=True)
    data.drop([ "fan_quality3", "fan_quality_code3"], axis=1, inplace=True)

    # CH1 columns -- 5min RELATIVE HUMIDITY/TEMPERATURE period quantity -- average air temperature, quality code
    # quality code, average relative humidity, quality code, AVG_RH_FLAG quality code
    data[["rh_period_quantity","rh_air_temp", "rh_airtemp_qual", "rh_airtemp_qual_flag", "rel_humiditiy", "rel_humidity_qual", "rel_humidity_qual_flag"]] =  data.CH1.str.split(",", expand=True)
    data.drop(["rh_airtemp_qual", "rh_airtemp_qual_flag","rel_humidity_qual", "rel_humidity_qual_flag"], axis=1, inplace=True)


    # CI1 columns -- HOURLY Relative Humidity and 
    data[["min_hourly_air_temp", "min_hourly_airtemp_qual", "min_hourly_airtemp_flag", 
          "max_hourly_air_temp", "max_hourly_airtemp_qual", "max_hourly_airtemp_flag",
          "std_hourly_air_temp", "std_hourly_airtemp_qual", "std_hourly_airtemp_flag",
          "std_hourly_humidity", "std_hourly_humidity_qual", "std_hourly_humidity_flag"]] =  data.CI1.str.split(",", expand=True)
    data.drop(["min_hourly_airtemp_qual", "min_hourly_airtemp_flag", 
               "max_hourly_airtemp_qual", "max_hourly_airtemp_flag",
               "std_hourly_airtemp_qual", "std_hourly_airtemp_flag",
               "std_hourly_humidity_qual", "std_hourly_humidity_flag"], axis=1, inplace=True)


    # CT1 columns -- 5 min Temperature Section -- sensor 1
    data[["air_temp", "air_temp_qual", "air_temp_flag"]] =  data.CT1.str.split(",", expand=True)
    data.drop(["air_temp_qual", "air_temp_flag"],axis=1, inplace=True)


    # CT2 columns -- 5 min Temperature Section -- sensor 2
    data[["air_temp_2", "air_temp_qual_2", "air_temp_flag_2"]] =  data.CT2.str.split(",", expand=True)
    data.drop(["air_temp_qual_2", "air_temp_flag_2"], axis=1, inplace=True)

    # CT3 columns -- 5 min Temperature Section -- sensor 3
    data[["air_temp_3", "air_temp_qual_3", "air_temp_flag_3"]] =  data.CT3.str.split(",", expand=True)
    data.drop(["air_temp_qual_3", "air_temp_flag_3"],axis=1, inplace=True)


    # CU1 columns -- HOURLY Temperature Section -- sensor 1
    data[["hourly_air_temp", "hourly_air_temp_qual", "hourly_air_temp_flag",
          "std_hourly_air_temp", "std_hourly_air_temp_qual", "std_hourly_air_temp_flag"]] =  data.CU1.str.split(",", expand=True)
    data.drop(["hourly_air_temp_qual", "hourly_air_temp_flag",
               "std_hourly_air_temp_qual", "std_hourly_air_temp_flag"],axis=1, inplace=True)

    # CU2 columns -- HOURLY Temperature Section -- sensor 2
    data[["hourly_air_temp_2", "hourly_air_temp_qual_2", "hourly_air_temp_flag_2",
          "std_hourly_air_temp_2", "std_hourly_air_temp_qual_2", "std_hourly_air_temp_flag_2"]] =  data.CU2.str.split(",", expand=True)
    data.drop(["hourly_air_temp_qual_2", "hourly_air_temp_flag_2",
               "std_hourly_air_temp_qual_2", "std_hourly_air_temp_flag_2"],axis=1, inplace=True)

    # CU3 columns -- HOURLY Temperature Section -- sensor 3
    data[["hourly_air_temp_3", "hourly_air_temp_qual_3", "hourly_air_temp_flag_3",
          "std_hourly_air_temp_3", "std_hourly_air_temp_qual_3", "std_hourly_air_temp_flag_3"]] =  data.CU3.str.split(",", expand=True)
    data.drop(["hourly_air_temp_qual_3", "hourly_air_temp_flag_3",
               "std_hourly_air_temp_qual_3", "std_hourly_air_temp_flag_3"],axis=1, inplace=True)

    # CV1 columns -- HOURLY extreme temperature -- sensor 1
    data[["ex_min_hourly_air_temp", "ex_min_hourly_airtemp_qual", "ex_min_hourly_airtemp_flag", 
          "min_temp_time", "min_temp_time_qual", "min_temp_time_flag",
          "ex_max_hourly_air_temp", "ex_max_hourly_airtemp_qual", "ex_max_hourly_airtemp_flag", 
          "max_temp_time", "max_temp_time_qual", "max_temp_time_flag"]] =  data.CV1.str.split(",", expand=True)
    data.drop(["ex_min_hourly_air_temp", "ex_min_hourly_airtemp_qual", "ex_min_hourly_airtemp_flag",  
               "ex_max_hourly_air_temp", "ex_max_hourly_airtemp_qual", "ex_max_hourly_airtemp_flag",
               "min_temp_time_qual", "min_temp_time_flag",
               "max_temp_time_qual", "max_temp_time_flag"],axis=1, inplace=True)

    # CV2 columns -- HOURLY extreme temperature -- sensor 2
    data[["ex_min_hourly_air_temp_2", "ex_min_hourly_airtemp_qual_2", "ex_min_hourly_airtemp_flag_2", 
          "min_temp_time_2", "min_temp_time_qual_2", "min_temp_time_flag_2",
          "ex_max_hourly_air_temp_2", "ex_max_hourly_airtemp_qual_2", "ex_max_hourly_airtemp_flag_2", 
          "max_temp_time_2", "max_temp_time_qual_2", "max_temp_time_flag_2"]] =  data.CV2.str.split(",", expand=True)
    data.drop(["ex_min_hourly_air_temp_2", "ex_min_hourly_airtemp_qual_2", "ex_min_hourly_airtemp_flag_2",  
               "ex_max_hourly_air_temp_2", "ex_max_hourly_airtemp_qual_2", "ex_max_hourly_airtemp_flag_2",
               "min_temp_time_qual_2", "min_temp_time_flag_2",
               "max_temp_time_qual_2", "max_temp_time_flag_2"], axis=1,inplace=True)

    # CV3 columns -- HOURLY extreme temperature -- sensor 3
    data[["ex_min_hourly_air_temp_3", "ex_min_hourly_airtemp_qual_3", "ex_min_hourly_airtemp_flag_3", 
          "min_temp_time_3", "min_temp_time_qual_3", "min_temp_time_flag_3",
          "ex_max_hourly_air_temp_3", "ex_max_hourly_airtemp_qual_3", "ex_max_hourly_airtemp_flag_3", 
          "max_temp_time_3", "max_temp_time_qual_3", "max_temp_time_flag_3"]] =  data.CV3.str.split(",", expand=True)
    data.drop(["ex_min_hourly_air_temp_3", "ex_min_hourly_airtemp_qual_3", "ex_min_hourly_airtemp_flag_3",  
               "ex_max_hourly_air_temp_3", "ex_max_hourly_airtemp_qual_3", "ex_max_hourly_airtemp_flag_3",
               "min_temp_time_qual_3", "min_temp_time_flag_3",
               "max_temp_time_qual_3", "max_temp_time_flag_3"], axis=1,inplace=True)

    # CW1 -- 5 min wetness
    data[["wet1", "wet1_qual", "wet1_qual_flag",
          "wet2", "wet2_qual", "wet2_qual_flag"]] =  data.CW1.str.split(",", expand=True)
    data.drop(["wet1_qual", "wet1_qual_flag",
               "wet2_qual", "wet2_qual_flag"], axis=1,inplace=True)

    # GH1 -- HOURLY solar radiation
    data[["solar_rad", "solar_radqc", "solar_rad_flag",
          "min_solar_rad", "min_solar_radqc", "min_solar_rad_flag",
          "max_solar_rad", "max_solar_radqc", "max_solar_rad_flag",
          "std_solar_rad", "std_solar_radqc", "std_solar_rad_flag"]] =  data.GH1.str.split(",", expand=True)
    data.drop(["solar_radqc", "solar_rad_flag",
               "min_solar_radqc", "min_solar_rad_flag", 
               "max_solar_radqc", "max_solar_rad_flag",
               "std_solar_radqc", "std_solar_rad_flag"], axis=1,inplace=True)

    # IB2 -- HOURLY surface temp
    data[["surface_temp", "surface_temp_qual", "surface_temp_qual_flag",
          "std_surface_temp", "std_surface_temp_qual", "std_surface_temp_qual_flag"]] =  data.IB2.str.split(",", expand=True)
    data.drop(["surface_temp_qual", "surface_temp_qual_flag","std_surface_temp_qual", "std_surface_temp_qual_flag"], axis=1,inplace=True)

    # KA1 -- HOURLY extreme temperature -- sensor 1
    data[["ex_air_temp_period", "ex_air_temp_period_code",
          "ex_air_temp", "ex_air_temp_code"]] =  data.KA1.str.split(",", expand=True)
    data.drop(["ex_air_temp_period_code","ex_air_temp_code"], axis=1,inplace=True)

    # KA2 -- HOURLY extreme temperature -- sensor 2
    data[["ex_air_temp_period_2", "ex_air_temp_period_code_2",
          "ex_air_temp_2", "ex_air_temp_code_2"]] =  data.KA2.str.split(",", expand=True)
    data.drop(["ex_air_temp_period_code_2","ex_air_temp_code_2"], axis=1,inplace=True)

    # OB1 columns -- HOURLY Wind data 
    data[["hourly_wind_period", 
          "hourly_gust", "hourly_gust_qc", "hourly_gust_flag",
          "hourly_gust_dir", "hourly_gust_dir_qc", "hourly_dir_gust_flag",
          "wind_std", "wind_qc", "wind_flag",
          "wind_dir_std", "wind_dir_qc", "wind_dir_flag"]] =  data.OB1.str.split(",", expand=True)
    data.drop(["hourly_wind_period", 
               "hourly_gust_qc", "hourly_gust_flag",
               "hourly_gust_dir_qc", "hourly_dir_gust_flag",
               "wind_qc", "wind_flag",
               "wind_dir_qc", "wind_dir_flag"], axis=1,inplace=True)

    return data

In [21]:
data_process(data)

,DATE,WND,TMP,AA1,AO1,CF1,CF2,CF3,CH1,CI1,...,surface_temp,std_surface_temp,ex_air_temp_period,ex_air_temp,ex_air_temp_period_2,ex_air_temp_2,hourly_gust,hourly_gust_dir,wind_std,wind_dir_std
0,2020-01-01T00:00:00,"999,9,R,0023,1","+0075,1","01,0000,9,1","05,0000,9,1","0816,1,0","0959,1,0","1102,1,0","05,+0077,1,0,0412,1,0","+0077,1,0,+0091,1,0,00004,1,0,00014,1,0",...,+0081,0003,010,+0089,010,+0075,0047,999,00065,99999
1,2020-01-01T00:05:00,"999,9,9,9999,9","+0076,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0077,1,0,0409,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01T00:10:00,"999,9,9,9999,9","+0071,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0073,1,0,0425,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01T00:15:00,"999,9,9,9999,9","+0073,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0073,1,0,0418,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01T00:20:00,"999,9,9,9999,9","+0068,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0070,1,0,0434,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105781,2020-12-31T23:35:00,"999,9,9,9999,9","+0065,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0065,1,0,0711,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105782,2020-12-31T23:40:00,"999,9,9,9999,9","+0063,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0064,1,0,0719,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105783,2020-12-31T23:45:00,"999,9,9,9999,9","+0062,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0062,1,0,0726,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105784,2020-12-31T23:50:00,"999,9,9,9999,9","+0061,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0061,1,0,0735,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105785,2020-12-31T23:55:00,"999,9,9,9999,9","+0060,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0060,1,0,0742,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
data.drop(['WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1'], axis=1, inplace=True)

In [23]:
#filtered to only the hours
hourly=data[pd.to_datetime(data.DATE).dt.minute==0]

In [24]:
#found the columns where the value never changes
drop=hourly.describe().T.query('unique==1').index

In [25]:
#dropped those columns
hourly.drop(drop,axis=1,inplace=True)

C:\Users\elfda\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
#changed the date to a datetime and made the hour of the day a predictor
hourly['DATE']=pd.to_datetime(hourly.DATE)
hourly['hour']=hourly.DATE.dt.hour

<ipython-input-26-6b6dbf17dcdc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly['DATE']=pd.to_datetime(hourly.DATE)
<ipython-input-26-6b6dbf17dcdc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly['hour']=hourly.DATE.dt.hour

In [27]:
#set the date as the index
hourly.set_index('DATE',inplace=True)
#made the rest integers
hourly=hourly.astype('int32')

In [28]:
hourly

,wnd_speed,temp_change,hourly_liq_depth_dim,liq_depth_dim,fan_speed,fan_speed2,fan_speed3,rh_air_temp,rel_humiditiy,min_hourly_air_temp,...,min_solar_rad,max_solar_rad,std_solar_rad,surface_temp,std_surface_temp,ex_air_temp,ex_air_temp_2,hourly_gust,wind_std,hour
DATE,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00,23,75,0,0,816,959,1102,77,412,77,...,0,0,0,81,3,89,75,47,65,0
2020-01-01 01:00:00,18,63,0,0,813,957,1099,64,438,63,...,0,0,0,66,4,76,62,56,84,1
2020-01-01 02:00:00,20,59,0,0,811,955,1096,60,443,59,...,0,0,0,57,2,63,58,54,87,2
2020-01-01 03:00:00,30,52,0,0,810,955,1093,53,483,53,...,0,0,0,56,2,61,52,70,98,3
2020-01-01 04:00:00,24,49,0,0,808,953,1091,49,506,47,...,0,0,0,47,2,54,46,56,94,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,19,113,0,0,886,1019,1185,113,721,105,...,1130,5483,794,130,8,114,105,34,54,19
2020-12-31 20:00:00,15,104,0,0,866,999,1160,105,714,105,...,559,4638,913,140,13,118,104,37,62,20
2020-12-31 21:00:00,13,98,0,0,819,957,1102,98,724,98,...,263,621,96,108,5,104,97,36,58,21
2020-12-31 22:00:00,12,93,0,0,812,950,1094,94,728,94,...,0,507,186,99,4,98,93,32,55,22
2020-12-31 23:00:00,11,80,0,0,807,945,1088,82,693,82,...,0,0,0,90,2,93,80,33,58,23

In [19]:
hourly.to_csv("wind_cleaned.csv")

In [5]:
data2 = pd.read_csv('Charlottesville, 2019.csv',low_memory=False)

In [6]:
data2 = data2[['DATE', 'WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1']]

In [8]:
data_process(data2)

,DATE,WND,TMP,AA1,AO1,CF1,CF2,CF3,CH1,CI1,...,surface_temp,std_surface_temp,ex_air_temp_period,ex_air_temp,ex_air_temp_period_2,ex_air_temp_2,hourly_gust,hourly_gust_dir,wind_std,wind_dir_std
0,2019-01-01T00:00:00,"999,9,R,0015,1","+0061,1","01,0000,9,1","05,0000,9,1","0782,1,0","0927,1,0","1063,1,0","05,+0060,1,0,0977,1,0","+0054,1,0,+0063,1,0,00003,1,0,00003,1,0",...,+0059,0002,010,+0064,010,+0054,0038,999,00060,99999
1,2019-01-01T00:05:00,"999,9,9,9999,9","+0066,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0065,1,0,0974,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01T00:10:00,"999,9,9,9999,9","+0067,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0067,1,0,0975,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01T00:15:00,"999,9,9,9999,9","+0066,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0065,1,0,0976,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01T00:20:00,"999,9,9,9999,9","+0067,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0066,1,0,0975,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105492,2019-12-31T23:35:00,"999,9,9,9999,9","+0084,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0086,1,0,0375,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105493,2019-12-31T23:40:00,"999,9,9,9999,9","+0084,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0085,1,0,0376,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105494,2019-12-31T23:45:00,"999,9,9,9999,9","+0082,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0083,1,0,0383,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105495,2019-12-31T23:50:00,"999,9,9,9999,9","+0081,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0082,1,0,0388,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105496,2019-12-31T23:55:00,"999,9,9,9999,9","+0078,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0079,1,0,0401,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data2.drop(['WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1'], axis=1, inplace=True)

In [11]:
#filtered to only the hours
hourly2=data2[pd.to_datetime(data2.DATE).dt.minute==0]

In [12]:
#found the columns where the value never changes
drop2=hourly2.describe().T.query('unique==1').index

In [13]:
#dropped those columns
hourly2.drop(drop2,axis=1,inplace=True)

C:\Users\elfda\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
#changed the date to a datetime and made the hour of the day a predictor
hourly2['DATE']=pd.to_datetime(hourly2.DATE)
hourly2['hour']=hourly2.DATE.dt.hour

<ipython-input-14-22c052bfe7ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly2['DATE']=pd.to_datetime(hourly2.DATE)
<ipython-input-14-22c052bfe7ac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly2['hour']=hourly2.DATE.dt.hour

In [15]:
#set the date as the index
hourly2.set_index('DATE',inplace=True)
#made the rest integers
hourly2=hourly2.astype('int32')

In [16]:
hourly2

,wnd_speed,temp_change,hourly_liq_depth_dim,liq_depth_dim,fan_speed,fan_speed2,fan_speed3,rh_air_temp,rel_humiditiy,min_hourly_air_temp,...,min_solar_rad,max_solar_rad,std_solar_rad,surface_temp,std_surface_temp,ex_air_temp,ex_air_temp_2,hourly_gust,wind_std,hour
DATE,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,15,61,0,0,782,927,1063,60,977,54,...,0,0,0,59,2,64,54,38,60,0
2019-01-01 01:00:00,29,78,0,0,782,929,1064,78,979,61,...,0,0,0,71,5,79,61,64,91,1
2019-01-01 02:00:00,29,78,0,0,783,929,1064,77,981,77,...,0,0,0,80,2,85,77,56,83,2
2019-01-01 03:00:00,37,102,0,0,784,931,1065,102,996,77,...,0,0,0,97,11,110,78,73,109,3
2019-01-01 04:00:00,42,103,0,0,783,931,1065,102,1000,96,...,0,0,0,104,5,114,97,78,108,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,36,92,0,0,881,1021,1181,93,383,83,...,477,6301,1537,100,7,93,82,66,113,19
2019-12-31 20:00:00,37,104,0,0,915,1052,1224,104,354,93,...,1129,4111,425,126,5,104,92,65,103,20
2019-12-31 21:00:00,35,100,0,0,912,1049,1220,101,359,101,...,1183,2657,426,127,3,104,100,78,115,21
2019-12-31 22:00:00,38,93,0,0,856,997,1150,94,366,94,...,0,1180,355,109,6,100,92,63,84,22
2019-12-31 23:00:00,33,90,0,0,820,963,1106,91,364,89,...,0,0,0,88,3,93,88,56,73,23

In [29]:
data3 = pd.read_csv('Charlottesville, 2018.csv',low_memory=False)

In [30]:
data3 = data3[['DATE', 'WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1']]

In [31]:
data_process(data3)

,DATE,WND,TMP,AA1,AO1,CF1,CF2,CF3,CH1,CI1,...,surface_temp,std_surface_temp,ex_air_temp_period,ex_air_temp,ex_air_temp_period_2,ex_air_temp_2,hourly_gust,hourly_gust_dir,wind_std,wind_dir_std
0,2018-01-01T00:00:00,"999,9,R,0013,1","-0083,1","01,0000,9,1","05,0000,9,1","0782,1,0","0934,1,0","0916,1,0","05,-0084,1,0,0435,1,0","-0084,1,0,-0082,1,0,00001,1,0,00012,1,0",...,-0084,0001,010,-0081,010,-0083,0033,999,00061,99999
1,2018-01-01T00:05:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0440,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01T00:10:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0450,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01T00:15:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0462,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01T00:20:00,"999,9,9,9999,9","-0084,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0473,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103241,2018-12-31T23:35:00,"999,9,9,9999,9","+0057,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0057,1,0,0982,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103242,2018-12-31T23:40:00,"999,9,9,9999,9","+0055,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0054,1,0,0982,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103243,2018-12-31T23:45:00,"999,9,9,9999,9","+0055,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0054,1,0,0981,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103244,2018-12-31T23:50:00,"999,9,9,9999,9","+0058,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0057,1,0,0979,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103245,2018-12-31T23:55:00,"999,9,9,9999,9","+0062,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0062,1,0,0978,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data3.drop(['WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1'], axis=1, inplace=True)

In [33]:
#filtered to only the hours
hourly3=data3[pd.to_datetime(data3.DATE).dt.minute==0]

In [34]:
#found the columns where the value never changes
drop3=hourly3.describe().T.query('unique==1').index

In [35]:
#dropped those columns
hourly3.drop(drop3,axis=1,inplace=True)

C:\Users\elfda\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [36]:
#changed the date to a datetime and made the hour of the day a predictor
hourly3['DATE']=pd.to_datetime(hourly3.DATE)
hourly3['hour']=hourly3.DATE.dt.hour

<ipython-input-36-7fc6edecc594>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly3['DATE']=pd.to_datetime(hourly3.DATE)
<ipython-input-36-7fc6edecc594>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly3['hour']=hourly3.DATE.dt.hour

In [37]:
#set the date as the index
hourly3.set_index('DATE',inplace=True)
#made the rest integers
hourly3=hourly3.astype('int32')

In [38]:
hourly3

,wnd_speed,temp_change,hourly_liq_depth_dim,liq_depth_dim,fan_speed,fan_speed2,fan_speed3,rh_air_temp,rel_humiditiy,min_hourly_air_temp,...,min_solar_rad,max_solar_rad,std_solar_rad,surface_temp,std_surface_temp,ex_air_temp,ex_air_temp_2,hourly_gust,wind_std,hour
DATE,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,13,-83,0,0,782,934,916,-84,435,-84,...,0,0,0,-84,1,-81,-83,33,61,0
2018-01-01 01:00:00,9,-92,0,0,780,932,915,-92,500,-92,...,0,0,0,-87,2,-83,-92,31,53,1
2018-01-01 02:00:00,7,-105,0,0,778,930,913,-106,554,-106,...,0,0,0,-102,5,-92,-105,28,51,2
2018-01-01 03:00:00,4,-109,0,0,776,928,912,-110,552,-110,...,0,0,0,-114,2,-104,-109,26,41,3
2018-01-01 04:00:00,5,-111,0,0,774,927,911,-111,540,-114,...,0,0,0,-118,1,-109,-113,19,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 19:00:00,9,42,4,0,790,936,1073,41,983,35,...,320,979,168,47,3,47,35,18,48,19
2018-12-31 20:00:00,9,55,2,0,789,934,1071,55,981,41,...,314,868,119,53,3,56,41,16,36,20
2018-12-31 21:00:00,10,54,0,0,784,930,1065,53,982,46,...,169,414,56,55,2,55,47,19,43,21
2018-12-31 22:00:00,5,59,4,0,782,927,1063,59,981,48,...,0,380,98,55,1,60,49,17,35,22
2018-12-31 23:00:00,10,57,2,2,781,927,1063,56,978,47,...,0,0,0,56,4,63,48,17,28,23

In [39]:
data4 = pd.read_csv('Charlottesville, 2017.csv',low_memory=False)

In [40]:
data4 = data4[['DATE', 'WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1']]

In [41]:
data_process(data4)

,DATE,WND,TMP,AA1,AO1,CF1,CF2,CF3,CH1,CI1,...,surface_temp,std_surface_temp,ex_air_temp_period,ex_air_temp,ex_air_temp_period_2,ex_air_temp_2,hourly_gust,hourly_gust_dir,wind_std,wind_dir_std
0,2017-01-01T00:00:00,"999,9,R,0032,1","+0044,1","01,0000,9,1","05,0000,9,1","1070,1,0","0944,1,0","0928,1,0","05,+0044,1,0,0403,1,0","+0044,1,0,+0046,1,0,00001,1,0,00007,1,0",...,+0044,0001,010,+0046,010,+0044,0061,999,00093,99999
1,2017-01-01T00:05:00,"999,9,9,9999,9","+0043,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0043,1,0,0405,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01T00:10:00,"999,9,9,9999,9","+0043,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0043,1,0,0405,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01T00:15:00,"999,9,9,9999,9","+0043,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0043,1,0,0409,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01T00:20:00,"999,9,9,9999,9","+0044,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,+0044,1,0,0400,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105480,2017-12-31T23:35:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0419,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105481,2017-12-31T23:40:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0420,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105482,2017-12-31T23:45:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0421,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105483,2017-12-31T23:50:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0426,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105484,2017-12-31T23:55:00,"999,9,9,9999,9","-0083,1",NaN,"05,0000,9,1",NaN,NaN,NaN,"05,-0084,1,0,0434,1,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
data4.drop(['WND', 'TMP', 'AA1', 'AO1', 'CF1', 'CF2', 'CF3', 'CH1', 'CI1',
       'CT1', 'CT2', 'CT3', 'CU1', 'CU2', 'CU3', 'CV1', 'CV2', 'CV3', 'CW1',
       'GH1', 'IB2', 'KA1', 'KA2', 'OB1'], axis=1, inplace=True)

In [43]:
#filtered to only the hours
hourly4=data4[pd.to_datetime(data4.DATE).dt.minute==0]

In [44]:
#found the columns where the value never changes
drop4=hourly4.describe().T.query('unique==1').index

In [45]:
#dropped those columns
hourly4.drop(drop4,axis=1,inplace=True)

C:\Users\elfda\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [46]:
#changed the date to a datetime and made the hour of the day a predictor
hourly4['DATE']=pd.to_datetime(hourly4.DATE)
hourly4['hour']=hourly4.DATE.dt.hour

<ipython-input-46-a4ca867706cc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly4['DATE']=pd.to_datetime(hourly4.DATE)
<ipython-input-46-a4ca867706cc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly4['hour']=hourly4.DATE.dt.hour

In [47]:
#set the date as the index
hourly4.set_index('DATE',inplace=True)
#made the rest integers
hourly4=hourly4.astype('int32')

In [48]:
hourly4

,wnd_speed,temp_change,hourly_liq_depth_dim,liq_depth_dim,fan_speed,fan_speed2,fan_speed3,rh_air_temp,rel_humiditiy,min_hourly_air_temp,...,min_solar_rad,max_solar_rad,std_solar_rad,surface_temp,std_surface_temp,ex_air_temp,ex_air_temp_2,hourly_gust,wind_std,hour
DATE,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,32,44,0,0,1070,944,928,44,403,44,...,0,0,0,44,1,46,44,61,93,0
2017-01-01 01:00:00,25,42,0,0,1068,942,925,42,417,42,...,0,0,0,42,1,44,42,49,82,1
2017-01-01 02:00:00,25,42,0,0,1067,941,925,41,424,40,...,0,0,0,41,0,42,40,53,88,2
2017-01-01 03:00:00,27,39,0,0,1065,940,924,39,428,38,...,0,0,0,39,2,43,38,56,87,3
2017-01-01 04:00:00,30,40,0,0,1064,939,923,40,420,36,...,0,0,0,36,1,41,36,61,89,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 19:00:00,13,-63,0,0,885,1029,1011,-64,318,-66,...,1410,2353,246,-42,2,-60,-66,42,60,19
2017-12-31 20:00:00,12,-68,0,0,818,967,950,-69,322,-70,...,589,1589,297,-52,4,-62,-69,37,59,20
2017-12-31 21:00:00,12,-69,0,0,801,951,934,-70,335,-71,...,357,937,172,-61,1,-67,-70,32,57,21
2017-12-31 22:00:00,14,-74,0,0,787,938,920,-75,365,-75,...,0,465,149,-69,4,-69,-75,41,70,22
2017-12-31 23:00:00,17,-81,0,0,785,936,918,-81,397,-81,...,0,0,0,-78,2,-75,-81,34,66,23

In [55]:
full = pd.concat([hourly4,hourly3,hourly2,hourly])

In [56]:
full

,wnd_speed,temp_change,hourly_liq_depth_dim,liq_depth_dim,fan_speed,fan_speed2,fan_speed3,rh_air_temp,rel_humiditiy,min_hourly_air_temp,...,min_solar_rad,max_solar_rad,std_solar_rad,surface_temp,std_surface_temp,ex_air_temp,ex_air_temp_2,hourly_gust,wind_std,hour
DATE,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,32,44,0,0,1070,944,928,44,403,44,...,0,0,0,44,1,46,44,61,93,0
2017-01-01 01:00:00,25,42,0,0,1068,942,925,42,417,42,...,0,0,0,42,1,44,42,49,82,1
2017-01-01 02:00:00,25,42,0,0,1067,941,925,41,424,40,...,0,0,0,41,0,42,40,53,88,2
2017-01-01 03:00:00,27,39,0,0,1065,940,924,39,428,38,...,0,0,0,39,2,43,38,56,87,3
2017-01-01 04:00:00,30,40,0,0,1064,939,923,40,420,36,...,0,0,0,36,1,41,36,61,89,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,19,113,0,0,886,1019,1185,113,721,105,...,1130,5483,794,130,8,114,105,34,54,19
2020-12-31 20:00:00,15,104,0,0,866,999,1160,105,714,105,...,559,4638,913,140,13,118,104,37,62,20
2020-12-31 21:00:00,13,98,0,0,819,957,1102,98,724,98,...,263,621,96,108,5,104,97,36,58,21
2020-12-31 22:00:00,12,93,0,0,812,950,1094,94,728,94,...,0,507,186,99,4,98,93,32,55,22
2020-12-31 23:00:00,11,80,0,0,807,945,1088,82,693,82,...,0,0,0,90,2,93,80,33,58,23

In [57]:
full.to_csv('wind_cleaned_2017_2020.csv')